{% include head.html %}
{% include header.html %}
<article>
	<h2 class="article-title">{{ page.title }}</h2>
	<p class="article-time">{{ page.date | date: "%Y/%m/%d , %a" }}</p>
	<div class="article-content">
		{{ page.content }}
	</div>
	<div class="article-nav">
		{% if page.previous.title %}
		<p>后一篇： <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
		{% endif %}
		{% if page.next.title %}
		<p>前一篇： <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
		{% endif %}
	</div>
</article>
{% include footer.html %}
{% include foot.html %}